/*Google fonts styles that that are imported*/
@import url(https://fonts.googleapis.com/css2?family=EB+Garamond&family=Flamenco&family=Noto+Sans:wght@300&display=swap);
  /* change the values below to your chosen font(s) */
  :root {
    --heading-font: "Flamenco";
    --paragraph-font: Noto Sans, Helvetica, sans-serif;}

 h1 {
    font-family: var(--heading-font);
  }

 .msg h2 {
  font-family: var(--heading-font);
 }

  h5 {
    font-family: Noto Sans;
 }


 p h3 {
    font-family: var(--paragraph-font);
  }
  h3{
    color: #3E8585;
  }

  h6{
    font-family: 'Times New Roman', Times, serif
  }
 
/* Header color*/
header{
    color: ;
    text-align: left;
    }
/* ------------------------------*/
/* Allow content size to not go over the max-width size across devices*/
/* keep it from stretching across the whole browser window on very large monitors*/

#content{
max: width 1600px; ;
margin: center;
text-align: center;
margin: 0 auto;
}
/* ------------------------------*/
/* Logo styling and width*/
.icon{
margin-left:left; 
width: 80px;
padding-top: 10px;
border-radius: 50%; /* use to circle image*/
}
/* ------------------------------*/
/* Centers the main pages/links references*/
/*<nav "mainLinks1">*/
.mainLinks1{
    text-align: left;
    /*word-spacing: 60px;*/
    /*to add later* cx*/
}
#hero-msg  {
 text-align: center;
}
/*Div/Section add height to rapid and background color*//
#background {   
}
#background {
    height: 725px;
    background-color: #0a69a311;
    color:#3E8585;
}
/* ------------------------------*/
/* Add color to the Selectors*/
header {
    background-color:#3E8585;
}
body {
    background-color: #FFFBD7;
    font-size: 22px;
    margin: 0;
    padding: 0; 
}
nav a:hover {
    background-color: #83abbb65;
    color: #111111;
}
footer {
     background-color: #111111;
     padding: 25px 50px; 
     margin-top: 200px;       
}
/* ------------------------------*/
/*Adding class colors*/
.book {
    background-color: hsla(91, 49%, 81%, 0.514);
}
        a:hover {
            background-color: #83abbb65; 
            color: #111111;  
}
.join {
    background-color: hsla(91, 49%, 81%, 0.514);  
}
a:hover {
    background-color: #83abbb65; 
    color: #111111;  
}
.msg {
    background-color: #83abbb65; 
    line-height: 1.5em; /*banner line*/
    padding: 35px;  
}
/* --------Addional foreground colors for text----------------------*/
.home-title {
 color: #555c05; 
 font-size: 2em; 
 margin-top: 10px;
 }
 h4 {
    color: #111111;    
 }
 .msg h2{
    /* (add later ) background-color: #83abbb65; */
    color: #8f3333;  
 }
 footer p{
    color: #ffffff; 
    text-align: left;
    /*front size*/
    font-size: 1.2em;   
 }
 footer a:hover{
    background-color: #83abbb65; 
    color: #ffffff;  
 }
/* ------------------------------*/
/* social media*/
.social {
    margin: left;
    text-align: left;  
}
/* -------------hero-img Width and height-----------------*/
#hero-img{
   width: 100%;
}
/* -------------Remove  underline link and make it text-decoration -----------------*/
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
/*------additional Nav a setting-------*/ 
/*background-color: #397e9af7;  effect for hover add later*/
padding: 35px; /* padding/spacing and background color*/
}    
.book {
    text-align: center;
    color: #111111; 
    text-decoration: none;
}
footer a{
    color: #fffcfc; 
    text-decoration: none;   
}
footer p a:hover {
    text-decoration: underline; 
}
.book, .join{
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size:18px; 
    padding: 15px 30px; 
    margin-top: 50px;
    border-radius: 5px;
}  
.msg p {
    font: size 0.8em;
    color: #111111; /*front color*/
    padding-bottom: 15px; 
}
h2 {
    margin: 0;
}
/* Padding to logo link */
logo_link{
    padding-top: 5px;
}
footer .social img{
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}
.mountains {
    display: block;
    margin: left;
    /*spacibg */
    padding-top: 35px; 
    padding-bottom: 50px; 
}
    
